{% extends 'mycontacts/background.html' %}
{% load static %}

{% block content %}

<div id="qd_principal">
    <form id="pos_principal" action="#" method="POST" role="form">

        {% csrf_token %}
        {{ form.as_p }}

        <div class="dv">
            <p class="txt">Nome:</p>
            <input type="text" class="itens" name="name" required value="{{data.name}}"></div>
        <div class="dv">
            <p class="txt">Relação:</p>
            <input type="text" class="itens" name="relation" required value="{{data.relation}}"></div>
        <div class="dv">
            <p class="txt">Phone:</p>
            <input type="text" class="itens" name="phone" required value="{{data.phone}}"></div>
        <div class="dv">
            <p class="txt">E-mail:</p>
            <input type="text" class="itens" name="email" required  value="{{data.email}}"></div>

            <button type="submit" id="btn_edt">Confirmar</button>
        </form>
    

</div>

{% endblock%}